# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

/run

/baguette-server/build.gradle.kts
/baguette-server/src/minecraft
/baguette-api/build.gradle.kts
/canvas-api
/canvas-server
/folia-api
/folia-server
/paper-server
/paper-api

.idea/
/local/
notes.md